{% extends "layout.html" %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static from staticfiles %}

{% block title_tag %}Dashboard{% endblock %}

{% block body_content %}
{% with request.user as user %}
<div class="container">
    <h1 class="my-5">Dashboard</h1>
    {% if groups_owned|length > 0 %}
    <div class="card mb-5">
        <h6 class="card-header">Your groups</h6>
        <div class="list-group list-group-flush">
            {% for group in groups_owned %}
            <a class="list-group-item list-group-item-action"
               href="{% url 'group-detail' group_id=group.group_id %}">
                <div class="d-flex align-items-center">
                    <span class="flex-grow-1">
                        <strong class="d-block">{{ group }}</strong>
                    </span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="card mb-5">
        <h6 class="card-header">Your task sheets</h6>
        <div class="list-group list-group-flush">
            {% for assignation_data in assignations %}
            {% with task_sheet=assignation_data.assignation.sheet solved_count=assignation_data.solved_count group=assignation_data.assignation.group %}
            <a class="list-group-item list-group-item-action"
               href="{% url 'sheet-results' group_id=group.group_id sheet_id=task_sheet.sheet_id %}">
                <div class="d-flex align-items-center">
                    <span class="flex-grow-1">
                        <strong class="d-block">{{ task_sheet.title }}</strong>
                        {% if solved_count == task_sheet.tasks.all|length %}
                        <span class="small text-success">
                        {% else %}
                        <span class="small text-secondary">
                        {% endif %}
                            {{ solved_count }} of {{ task_sheet.tasks.all|length }} tasks solved
                        </span>
                    </span>
                    <span class="small text-muted align-self-start">
                        {{ task_sheet.created_at|date:"M d Y" }}
                    </span>
                </div>
            </a>
            {% endwith %}
            {% endfor %}
        </div>
        <div class="card-footer">
            <span class="small text-muted">
                {% if task_sheets|length <= 0 %}
                No task sheets.
                {% else %}
                {{ task_sheets|length }} task sheet{{ task_sheets|length|pluralize }}
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}