{% extends "layout.html" %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static from staticfiles %}

{% block title_tag %}{{ group.name }}{% endblock %}

{% block body_content %}
{% with request.user as user %}

<div class="container">
    {% include "info/group/group_main.html" %}
    {% include "info/group/group_members.html" %}
    {% include "info/group/group_assignments.html" %}

    {% if is_owner %}
    <form class="mt-5" method="post" action="{% url 'group-delete' group_id=group.group_id %}">
        {% csrf_token %}
        <button class="btn btn-danger btn-sm align-middle" type="submit">
            DELETE GROUP
        </button>
    </form>
    {% endif %}
</div>

{% endwith %}
{% endblock %}