{% extends "layout.html" %}

{% load bootstrap4 %}
{% load static from staticfiles %}

{% block title_tag %}{{ sheet.title }} - Results{% endblock %}

{% block body_content %}

<div class="container">
    {% include "info/sheet/sheet_title_description.html" %}
    {% include "info/sheet/sheet_tasks.html" %}
    {% include "info/sheet/sheet_results.html" %}

    {% if is_owner %}
    <form method="post" action="{% url 'sheet-delete' sheet_id=sheet.sheet_id %}">
        {% csrf_token %}
        <button class="btn btn-danger btn-sm align-middle" type="submit">
            DELETE
        </button>
    </form>
    {% endif %}
</div>

{% endblock %}

{% block js_scripts %}
<script type="text/javascript">
$(document).ready(function() {

    $(".sheet-task-add").modalForm({
        formURL: "{% url 'sheet-task-add' sheet_id=sheet.sheet_id %}"
    });

    $(".sheet-description-update").modalForm({
        formURL: "{% url 'sheet-description-update' sheet_id=sheet.sheet_id %}"
    });

});
</script>
{% endblock %}

