{% extends "layout.html" %}

{% load bootstrap4 %}
{% load static from staticfiles %}
{% load humanize %}
{% load markdownify %}
{% load task_extras %}

{% block title_tag %}{{ task.name_or_id }}{% endblock %}

{% block body_content %}


<div class="container">
    {% if not task.statistics %}
    <div class="alert alert-warning text-center" role="alert">
      This task has just been added and it hasn't been fully processed yet.
        Some information might be missing for a little while.
    </div>
    {% endif %}
    {% if not user_has_handle %}
    <div class="alert alert-info text-center" role="alert">
      You currently have not linked any account on <span class="font-weight-bold">{{ task.judge.name }}</span>.
      <a class="font-weight-bold" href="{% url 'me' %}">Go to your profile</a> to add one.
    </div>
    {% endif %}

    <div class="mr-1 mt-5">
        <div class="row d-flex align-items-center">
            <img class="img-fluid py-2 col-2 col-lg-1 d-none d-sm-block"
                     src="{% static task.judge.get_logo_url %}"
                     alt="{{ task.judge.judge_id }}">
            <div class="col-12 col-sm-10 col-lg-11">
                <h1 class="d-inline-block">
                    {{ task.name_or_id }}
                </h1>
                <h5>
                    <div class="d-inline-block d-sm-none">
                        <img class="d-sm-none d-inline-block img-fluid mx-1"
                             style="width: 24px; height: 24px"
                             src="{% static task.judge.get_logo_url %}"
                             alt="{{ task.judge.judge_id }}">
                    </div>
                    {% if task.statistics %}
                    <span class="badge badge-pill badge-info"><i class="far fa-dot-circle mr-1"></i>{{ task.statistics.difficulty_score }} points</span>

                    <span class="text-light mx-2">|</span>
                    {% endif %}
                {% if best_submission_for_user %}
                    <span class="small text-muted">Verdict:</span>
                    {% if best_submission_for_user.verdict == 'AC' %}
                    <span class="badge badge-success ml-1">
                        <i class="fa fa-check mr-1"></i>{{ best_submission_for_user.get_verdict_display }}
                    </span>
                    {% else %}
                    <span class="badge badge-danger ml-1">
                        <i class="fa fa-times mr-1"></i>
                        {{ best_submission_for_user.get_verdict_display }}
                    </span>
                    {% endif %}
                    <span class="small">
                        (<a href="{{ best_submission_for_user.get_url }}">#{{ best_submission_for_user.submission_id }}</a>)
                    </span>
                </h5>
                {% else %}
                <span class="small text-muted">Not tried yet</span>
                {% endif %}
                </h5>
            </div>

            {% if task.statement %}
                <div class="mt-3 col-12">
                    <table class="table table-sm d-lg-inline table-borderless mb-0">
                        <tbody>
                            <tr>
                                <th class="pr-4">Time limit:</th>
                                <td>{{ task.statement.time_limit_ms|time_limit }}</td>
                                <td style="width: 5em"></td>
                                <th class="pr-4">Input file:</th>
                                <td><code>{{ task.statement.input_file }}</code></td>
                            </tr>
                            <tr>
                                <th class="pr-4">Memory limit:</th>
                                <td>{{ task.statement.memory_limit_kb|memory_limit }}</td>
                                <td style="width: 5em"></td>
                                <th class="pr-4">Output file:</th>
                                <td><code>{{ task.statement.output_file }}</code></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-12 mt-3">
                    {{ task.statement.formatted|safe }}
                </div>

                {% if task.statement.examples %}
                    <div class="examples col-12">
                         <h3>Examples</h3>
                        <table class="table table-bordered">
                            <thead class="text-monospace">
                                <th>Input</th>
                                <th>Output</th>
                            </thead>
                            <tbody>
                                {% for example in task.statement.examples %}
                                <tr>
                                    <td><pre>{{ example.input }}</pre></td>
                                    <td><pre>{{ example.output }}</pre></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if request.user.is_superuser %}
                    <a class="btn btn-primary ml-3" data-toggle="modal" href="#modal"
                       onclick="loadModalForm('{% url 'task-statement-update' task_path=task.get_path %}');">
                        Edit statement
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4 col-12">
            <div class="card mt-5">
                <h6 class="card-header">Task information</h6>
                <div class="card-body">
                    <h4 class="card-title">{{ task.name_or_id }}</h4>
                    <h6 class="card-subtitle text-muted mb-3">@{{ task.get_path }}</h6>

                    {% if task.statistics %}
                        <p class="card-text">
                            Solved by <span class="badge badge-primary">
                            {{ task.statistics.users_solved_count }}/{{ task.statistics.users_tried_count }}
                        </span> users (acceptance rate: <span class="badge badge-secondary">
                            {{ task.statistics.acceptance_rate|floatformat:0 }}%</span>)
                        </p>
                        <p class="card-text">
                            Average number of submissions per user:
                                <span class="badge badge-primary">
                                    {{ task.statistics.mean_submission_count|floatformat:2 }}
                                </span>
                        </p>
                        <p class="card-text">
                            Favorited by <span class="badge badge-primary">
                                {{ task.statistics.favorited_count }}
                            </span> user{{ task.statistics.favorited_count|pluralize }}
                        </p>
                    {% endif %}

                    <a href="{{ task.get_url }}" class="btn btn-primary mt-3 mr-2" target="_blank">
                        <i class="fas fa-external-link-alt mr-1"></i> Go to task
                    </a>
                    <form class="form-inline d-inline" method="post"
                          action="{% url 'task-favorite' task_path=task.get_path %}">
                        {% csrf_token %}
                        {% if is_favorited %}
                        <button class="btn submit-btn btn-warning active mt-3" aria-pressed="true">
                            <i class="fa fa-star mr-1"></i>
                            Favourited
                        </button>
                        {% else %}
                        <button class="btn submit-btn btn-light mt-3">
                            <i class="fa fa-star mr-1"></i>
                            Add to favourites
                        </button>
                        {% endif %}
                    </form>
                </div>
            </div>

            <div class="card mt-5">
                <h6 class="card-header">Judge info</h6>
                    <div class="card-body">
                        <a href="{{ task.judge.homepage }}">
                            <img class="img-fluid" style="max-height: 80px"
                             src="{% static task.judge.get_banner_url %}"
                             alt="{{ task.judge.judge_id }}">
                        </a>

                        {% if task.judge_statistic.first_submitted_on %}
                        <p class="card-text mt-3">
                            Added on
                            <span class="badge badge-primary mx-1">
                                {{ task.judge_statistic.first_submitted_on|date:"M d, Y" }}
                            </span>
                            <span class="text-muted small">
                                ({{ task.judge_statistic.first_submitted_on|naturaltime }})
                            </span>
                        </p>
                        {% endif %}

                        {% if task.source %}
                        <div class="mt-3 d-flex align-items-center">
                            <span class="card-text">Source: </span>
                            <span class="small ml-2 badge badge-primary text-truncate">{{ task.source.name }}</span>
                        </div>
                        {% endif %}
                    </div>
            </div>

            {% if task.tags.count or task.custom_tags.count %}
            <div class="card mt-5">
                <h6 class="card-header">Tags</h6>
                <ul class="list-group list-group-flush">
                    {% for tag in task.tags.all %}
                    <li class="list-group-item list-group-item text-secondary">
                        {{ tag }}
                    </li>
                    {% endfor %}
                    {% for tag in custom_tags %}
                    <li class="list-group-item list-group-item text-secondary">
                        <form class="d-flex" method="post" action="{% url 'task-tag-delete' task_path=task.get_path tag_name=tag.name %}">
                            {% csrf_token %}
                            <span class="flex-grow-1 text-primary font-weight-bold">#{{ tag.name }}</span>
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-xs-adjust btn-danger my-0" type="submit">
                                    <i class="fa fa-xs fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                    </li>

                    {% endfor %}
                </ul>


            </div>
            {% endif %}

            <form action="{% url 'task-tag-create' task_path=task.get_path %}" method="post">
                {% csrf_token %}
                <div class="input-group mt-5">
                        <div class="input-group-prepend">
                          <div class="input-group-text">#</div>
                        </div>
                        <input type="text" class="form-control" name="name" placeholder="Add custom tag" required>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">+</button>
                      </div>
                </div>
            </form>

        </div>
        <div class="col col-lg-8 col-12">
            <div class="card mt-5">
                <h6 class="card-header">Users who solved this task</h6>
                <div class="card-body">
                    {% for ac_submission in accepted_submissions %}
                    {% with author_profile=ac_submission.author.user %}
                    <a class="badge badge-primary"
                       href="{% url 'profile' username=author_profile.username %}">
                        {{ author_profile.username }}
                    </a>
                    {% endwith %}
                    {% endfor %}
                </div>
                <div class="card-footer small text-muted">
                    {% with submission_count=accepted_submissions.count %}
                    {{ submission_count }} user{{ submission_count|pluralize }}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
