{% extends "layout.html" %}

{% load bootstrap4 %}
{% load static from staticfiles %}
{% load humanize %}

{% block title_tag %}{{ task.name_or_id }}{% endblock %}

{% block body_content %}


<div class="container">
    {% if not user_has_handle %}
    <div class="alert alert-info text-center" role="alert">
      You currently have not linked any account on <span class="font-weight-bold">{{ task.judge.name }}</span>.
      <a class="font-weight-bold" href="{% url 'me' %}">Go to your profile</a> to add one.
    </div>
    {% endif %}

    <div class="mr-1 mt-5">
        <h1 class="d-inline-block">
            {{ task.name_or_id }}
        </h1>
        <h5 style="height: 40px" class="py-1">
            <a href="{{ task.judge.homepage }}">
                <img class="img-fluid" style="max-height: 100%"
                 src="{% static task.judge.get_banner_url %}"
                 alt="{{ task.judge.judge_id }}">
            </a>
        </h5>
        <h5>
            <span class="badge badge-pill badge-info"><i class="far fa-dot-circle mr-1"></i>{{ task.statistics.difficulty_score }} points</span>
            <span class="text-light mx-2">|</span>
        {% if best_submission_for_user %}
            <span class="small text-muted">Verdict:</span>
            {% if best_submission_for_user.verdict == 'AC' %}
            <span class="badge badge-success ml-1">
                <i class="fa fa-check mr-1"></i>{{ best_submission_for_user.get_verdict_display }}
            </span>
            {% else %}
            <span class="badge badge-danger ml-1">
                <i class="fa fa-times mr-1"></i>
                {{ best_submission_for_user.get_verdict_display }}
            </span>
            {% endif %}
            <span class="small">
                (<a href="{{ best_submission_for_user.get_url }}">#{{ best_submission_for_user.submission_id }}</a>)
            </span>
        </h5>
        {% else %}
        <span class="small text-muted">Not tried yet</span>
        {% endif %}
        </h5>
    </div>
    <div class="row">
        <div class="col col-lg-4 col-12">
            <div class="card mt-5">
                <h6 class="card-header">Task information</h6>
                <div class="card-body">
                    <h4 class="card-title">{{ task.name_or_id }}</h4>
                    <h6 class="card-subtitle text-muted mb-3">@{{ task.task_id }}</h6>
                    <p class="card-text my-2">
                        Source: <span class="badge badge-light px-3">
                        {% include "accounts/judge_label.html" with judge=task.judge %}
                        {{ task.judge.name }}
                        </span>
                    </span></p>
                    <p class="card-text">
                        Solved by <span class="badge badge-primary">
                        {{ task.statistics.users_solved_count }}/{{ task.statistics.users_tried_count }}
                    </span> users (acceptance rate: <span class="badge badge-secondary">
                        {{ task.statistics.acceptance_rate|floatformat:0 }}%</span>)
                    </p>
                    <p class="card-text">
                        Average number of submissions per user:
                            <span class="badge badge-primary">
                                {{ task.statistics.mean_submission_count|floatformat:2 }}
                            </span>
                    </p>
                    <p class="card-text">
                        Favorited by <span class="badge badge-primary">
                            {{ task.statistics.favorited_count }}
                        </span> user{{ task.statistics.favorited_count|pluralize }}
                    </p>

                    <a href="{{ task.get_url }}" class="btn btn-primary mt-3 mr-2" target="_blank">
                        <i class="fas fa-external-link-alt mr-1"></i> Go to task
                    </a>
                    <form class="form-inline d-inline" method="post"
                          action="{% url 'task-favorite' judge_id=task.judge.judge_id task_id=task.task_id %}">
                        {% csrf_token %}
                        {% if is_favorited %}
                        <button class="btn submit-btn btn-warning active mt-3" aria-pressed="true">
                            <i class="fa fa-star mr-1"></i>
                            Favourited
                        </button>
                        {% else %}
                        <button class="btn submit-btn btn-secondary mt-3">
                            <i class="fa fa-star mr-1"></i>
                            Add to favourites
                        </button>
                        {% endif %}
                    </form>
                </div>
            </div>
            {% if task.tags.count %}
            <div class="card mt-5">
                <h6 class="card-header">Tags</h6>
                <div class="list-group list-group-flush">
                    {% for tag in task.tags.all %}
                    <span class="list-group-item list-group-item text-secondary">
                        {{ tag }}
                    </span>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col col-lg-8 col-12">
            <div class="card mt-5">
                <h6 class="card-header">Users who solved this task</h6>
                <div class="card-body">
                    {% for ac_submission in accepted_submissions.all %}
                    {% with author_profile=ac_submission.author.user %}
                    <a class="badge badge-primary"
                       href="{% url 'profile' username=author_profile.username %}">
                        {{ author_profile.username }}
                    </a>
                    {% endwith %}
                    {% endfor %}
                </div>
                <div class="card-footer small text-muted">
                    {% with submission_count=accepted_submissions.count %}
                    {{ submission_count }} user{{ submission_count|pluralize }}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
