{% extends "layout.html" %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static from staticfiles %}

{% block title_tag %}{{ object.get_display_name }}{% endblock %}

{% block body_content %}

{% if object.user == user %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content px-3">

        </div>
    </div>
</div>
{% endif %}

{% if not object.user %}
<div class="alert alert-info small" role="alert">
    <div class="container">
        <em>This user is not claimed yet.</em>
        <strong class="ml-2">Is this you?</strong>
        <a href="{% url 'login' %}">Log in</a> to your account and claim it!
    </div>
</div>
{% endif %}

<div class="container">
    <h1 class="my-5">{{ object.get_display_name }}</h1>
    <div class="row">
        <div class="col col-md-4 col-12">
            <div class="card mx-auto mb-3" style="max-width: 24rem;">
                <img class="card-img-top" src="{{ object.avatar_url_or_default }}" alt="{{ object.username }}">
                <div class="card-body">
                    <h5 class="card-title">{{ object.get_display_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@{{ object.username }}</h6>
                    <p>Joined on: {{ object.created_at|date:"M d, Y"}}</p>
                    {% if object.user == user %}
                    <button class="btn btn-secondary update-profile">Update profile</button>
                    {% endif %}
                </div>
            </div>


            <div class="card mb-3">
                <h6 class="card-header">
                    Accounts
                    {% if user == object.user %}
                    <a href="#" class="badge badge-secondary small pull-right create-handle">Add</a>
                    {% endif %}
                </h6>
                <div class="list-group list-group-flush" style="line-height: 30px">
                    {% for handle in object.handles.all %}
                    <div class="list-group-item p-2">
                        {% with handle.judge as judge %}
                        {% include 'accounts/judge_label.html' %}
                        {% endwith %}

                        <a href="{{ handle.get_url }}" class="ml-3 align-middle small text-monospace">
                            {{ handle.handle }}
                        </a>
                        {% if user == object.user %}
                        <form style="display: inline-block; float: right"
                              method="post" action="{% url 'delete-handle' handle_id=handle.id %}">
                            {% csrf_token %}
                            <button class="btn btn-danger btn-sm align-middle" type="submit">
                                <i class="fas fa-times"></i>
                            </button>
                        </form>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col col-md-8 col-12">
            <div class="card">
                <h6 class="card-header">Tasks solved</h6>
                <div class="card-body">
                    <ul class="list-unstyled list-inline">
                        {% for task in object.get_solved_tasks %}
                        <li class="list-inline-item">
                            <a class="badge badge-primary" href="{{ task.get_url }}">{{ task.name_or_id }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <span class="small text-muted">
                        {% if object.get_solved_tasks.empty %}
                        No tasks
                        {% else %}
                        {{ object.get_solved_tasks|length }} task{{ object.get_solved_tasks|length|pluralize }}
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="card mt-3">
                <h6 class="card-header">Tasks tried</h6>
                <div class="card-body">
                    <ul class="list-unstyled list-inline">
                        {% for task in object.get_unsolved_tasks %}
                        <li class="list-inline-item">
                            <a class="badge badge-primary" href="{{ task.get_url }}">{{ task.name_or_id }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <span class="small text-muted">
                        {% if object.get_unsolved_tasks|length <= 0 %}
                        No tasks
                        {% else %}
                        {{ object.get_unsolved_tasks|length }} task{{ object.get_unsolved_tasks|length|pluralize }}
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated and not object.user %}
    <div class="mt-5">
        <div class="alert alert-warning small" role="alert">
            <strong>Note:</strong>
            Every claim request will need to be verified.
            Please do not claim users that are not yours. :)
        </div>
        <a class="btn btn-primary btn-block" href="{% url 'claim' username=object.username %}">CLAIM</a>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block js_scripts %}
<script type="text/javascript">
$(document).ready(function() {

    $(".update-profile").modalForm({
        formURL: "{% url 'update-profile' username=object.username %}"
    });

    $(".create-handle").modalForm({
        formURL: "{% url 'create-handle' %}"
    });

});

</script>
{% endblock %}