{% extends "layout.html" %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}

{% block title_tag %}{{ profile.get_display_name }}{% endblock %}

{% block body_content %}

{% if not profile.user %}
<div class="alert alert-info small" role="alert">
    <div class="container">
        <em>This user is not claimed yet.</em>
        <strong class="ml-2">Is this you?</strong>
        <a href="{% url 'login' %}">Log in</a> to your account and claim it!
    </div>
</div>
{% endif %}

<div class="container">
    <h1 class="my-5">{{ profile.get_display_name }}</h1>
    <div class="row">
        <div class="col col-md-4 col-12">
            {% include 'info/profile/profile_main.html' %}
            {% include 'info/profile/profile_handles.html' %}
        </div>
        <div class="col col-md-8 col-12">
            <div class="card">
                <h6 class="card-header">Activity</h6>
                {% include 'info/profile/profile_activity.html' %}
            </div>
            <div class="card mt-3" id="profile-tags-panel">
                <h6 class="card-header">Tags</h6>
                {% include 'info/profile/profile_tag_stats.html' %}
            </div>
            <div class="card mt-3">
                <h6 class="card-header">Tasks solved</h6>
                <div class="card-body">
                    {% include 'info/profile/profile_task_display.html' with tasks=solved_tasks %}
                </div>
            </div>
            <div class="card mt-3">
                <h6 class="card-header">Tasks tried</h6>
                <div class="card-body">
                    {% include 'info/profile/profile_task_display.html' with tasks=unsolved_tasks %}
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated and not profile.user %}
    <div class="mt-5">
        <div class="alert alert-warning small" role="alert">
            <strong>Note:</strong>
            Every claim request will need to be verified.
            Please do not claim users that are not yours. :)
        </div>
        <a class="btn btn-primary btn-block" href="{% url 'claim' username=profile.username %}">CLAIM</a>
    </div>
    {% endif %}
</div>
{% endblock %}