{% extends "layout.html" %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block title_tag %}{{ object.title }} | Results{% endblock %}

{% block body_content %}
<div class="container">
    <h1 class="text-primary my-5">{{ object.get_display_name }}</h1>
    <div class="card">
        <h6 class="card-header">Tasks solved</h6>
        <div class="card-body">
            <ul class="list-unstyled list-inline">
                {% for task in object.get_solved_tasks %}
                <li class="list-inline-item">
                    <a class="badge badge-primary" href="{{ task.get_url }}">{{ task.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <span class="small text-muted">
                {% if object.get_solved_tasks.empty %}
                No tasks
                {% else %}
                {{ object.get_solved_tasks|length }} task{{ object.get_solved_tasks|length|pluralize }}
                {% endif %}
            </span>
        </div>
    </div>
    <div class="card mt-5">
        <h6 class="card-header">Tasks tried</h6>
        <div class="card-body">
            <ul class="list-unstyled list-inline">
                {% for task in object.get_unsolved_tasks %}
                <li class="list-inline-item">
                    <a class="badge badge-primary" href="{{ task.get_url }}">{{ task.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <span class="small text-muted">
                {% if object.get_unsolved_tasks|length <= 0 %}
                No tasks
                {% else %}
                {{ object.get_unsolved_tasks|length }} task{{ object.get_unsolved_tasks|length|pluralize }}
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}