[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
bs4 = "*"
certifi = "*"
chardet = "*"
dataclasses = "*"
dj-database-url = "*"
django = "*"
django-bootstrap4 = "*"
django-heroku = "*"
django-tables2 = "*"
djongo = "*"
gunicorn = "*"
idna = "*"
pymongo = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
six = "*"
sqlparse = "*"
urllib3 = "*"
whitenoise = "*"
apscheduler = "*"
pillow = "*"
django-markdownx = "*"
django-widget-tweaks = "*"
django-betterforms = "*"
django-bootstrap-pagination = "*"
djangoajax = "*"
django-mathfilters = "*"
celery = "*"
redis = "*"
djangorestframework = "*"
django-silk = "*"
model-mommy = "*"
psycopg2 = "==2.7.5"
django-bootstrap-datepicker-plus = "*"
loguru = "*"
elasticsearch = "*"
elasticsearch-dsl = "*"
django-elasticsearch-dsl = "*"

[requires]
python_version = "3.7"
