{% for task_verdict in task_list %}
{% with task=task_verdict.task verdict_for_user=task_verdict.verdict_for_user faved=task_verdict.faved %}
<a class="list-group-item list-group-item-action"
   href="{% url 'task-detail' judge_id=task.judge.judge_id task_id=task.task_id %}">
    <div style="position: relative">
        <div class="d-flex align-items-center">
            <i class="fa fa-xs fa-star text-primary mr-1{% if not faved %} invisible{% endif %}"
               style="margin-left: -10px"></i>
            <span class="border border-light rounded">
                {% include 'accounts/judge_label.html' with judge=task.judge tiny=True %}
            </span>


            <span class="ml-3 text-primary flex-grow-1">
                {{ task.name_or_id }}
                {% if task.statistics %}
                <span class="small text-muted text-monospace ml-2">
                    {{ task.statistics.users_solved_count }}/{{ task.statistics.users_tried_count }}
                </span>
                {% endif %}
            </span>
            {% if task.statistics %}
            <span class="text-info font-weight-bold mr-3">
                <i class="far fa-dot-circle mr-1"></i>{{ task.statistics.difficulty_score }}
            </span>
            {% endif %}
            {% if verdict_for_user == 'AC' %}
            <span class="text-success">
                <i class="fas fa-check" style="width: 16px"></i>
            </span>
            {% else %}
            <span class="text-danger"{% if not verdict_for_user %}style="opacity: 0"{% endif %}>
                <i class="fas fa-times" style="width: 16px"></i>
            </span>
            {% endif %}
        </div>
    </div>
</a>
{% endwith %}
{% endfor %}