{% load humanize %}

<div class="card mt-5">
    <h6 class="card-header">Assignment</h6>
    <div class="card-body">
        <div>
            <i style="width: 24px" class="fas fa-calendar-alt text-secondary text-center"></i>
            <span class="ml-2">{{ assignment.assigned_on|date:"M d, Y H:m" }}</span>
            <span class="text-muted small ml-2">({{ assignment.assigned_on|naturaltime }})</span>
        </div>
        <div class="mt-1">
            <i style="width: 24px" class="fas fa-users text-secondary text-center"></i>
            <a class="ml-2 font-weight-bold no-underline" href="{% url 'group-detail' group_id=group.group_id %}">
                {{ assignment.group.name }}
            </a>
        </div>
    </div>
</div>