{% load humanize %}

<div class="card mt-5">
    <div class="card-header d-flex align-items-center">
        <h6 class="d-inline flex-grow-1 mb-0">Assignment</h6>
        {% if is_owner %}
        <a data-toggle="modal" href="#modal"
           class="badge badge-dark badge-pill py-1"
           onclick="loadModalForm('{% url 'assignment-update' sheet_id=sheet.sheet_id group_id=group.group_id %}');">
            <i class="fas fa-pen mr-1"></i>Edit
        </a>
        {% endif %}
    </div>
    <div class="card-body">
        <div>
            <i style="width: 24px" class="fas fa-calendar-alt text-secondary text-center"></i>
            <span class="ml-2">{{ assignment.assigned_on|date:"M d, Y H:i" }}</span>
            <span class="text-muted small ml-2">({{ assignment.assigned_on|naturaltime }})</span>
        </div>
        {% if assignment.end_on %}
        <div class="mt-1">
            <i style="width: 24px" class="fas fa-stopwatch text-secondary text-center"></i>
            <span class="ml-2">{{ assignment.end_on|date:"M d, H:i" }}</span>
            <span class="text-muted small ml-2">({{ assignment.end_on|naturaltime }})</span>
        </div>
        {% endif %}
        <div class="mt-1">
            <i style="width: 24px" class="fas fa-users text-secondary text-center"></i>
            <a class="ml-2 font-weight-bold no-underline" href="{% url 'group-detail' group_id=group.group_id %}">
                {{ assignment.group.name }}
            </a>
        </div>
    </div>
</div>