<h1 class="mt-5">{{ sheet.title }}</h1>
{% if sheet.description and sheet.description|length > 0 %}
    <div class="description">
        {{ sheet.formatted_description|safe }}
    </div>
    {% if is_owner %}
        <a data-toggle="modal" href="#modal"
           onclick="loadModalForm('{% url 'sheet-description-update' sheet_id=sheet.sheet_id %}');">
            Edit description
        </a>
    {% endif %}
{% else %}
    {% if is_owner %}
        <a data-toggle="modal" href="#modal"
           onclick="loadModalForm('{% url 'sheet-description-update' sheet_id=sheet.sheet_id %}');">
            Add description
        </a>
    {% endif %}
{% endif %}