.full-textareas textarea {
    height: 100%;
}

.btn-xs-adjust {
    line-height: 1.1;
}

[v-cloak] {
  display: none;
  margin: 0;
}

.square {
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
}