{% with sheet_count=assignments|length %}
<div class="card mb-5">
    <h6 class="card-header">Assignments</h6>

    <div class="list-group list-group-flush">
        {% for assignment in assignments %}
        <a class="list-group-item list-group-item-action"
           href="{% url 'group-sheet-detail' group_id=group.group_id sheet_id=assignment.sheet.sheet_id %}">
            <div class="d-flex align-items-center">
                <strong class="flex-grow-1">{{ assignment.sheet.title }}</strong>
                {% if assignment.is_future %}
                <span class="badge badge-info">Future</span>
                {% endif %}
            </div>
            <div>
                {% with task_count=assignment.sheet.tasks.all|length %}
                <span class="small text-primary">{{ task_count }} task{{ task_count|pluralize }}</span>
                {% endwith %}
            </div>
        </a>
        {% endfor %}
    </div>
    <span class="card-footer text-muted small">{{ sheet_count }} sheet{{ sheet_count|pluralize }}</span>
</div>
{% endwith %}