<div class="my-5">
    <h1>{{ group.name }}</h1>
    <div class="text-muted">
        Created by
        {% with group.author.user as user %}
        <a href="{% url 'profile' username=user.profile.username %}"
           class="btn btn-sm btn-white mx-1 px-2">
            {% include "accounts/thumbnail_profile.html" %}
        </a>
        {% endwith %}
    </div>
    {% if is_owner %}
    <a class="btn btn-primary mt-3"
    data-toggle="modal" href="#modal"
           onclick="loadModalForm('{% url 'assignment-create' group_id=group.group_id %}');">
        Add an assignment
    </a>
    <a class="btn btn-secondary mt-3 ml-2"
    data-toggle="modal" href="#modal"
           onclick="loadModalForm('{% url 'group-member-add' group_id=group.group_id %}');">
        Add members
    </a>
    {% endif %}
</div>