{% load humanize %}

{% with sheet_count=assignments|length %}
<div class="card mb-5" id="groupAssignmentPanel">
    <div class="card-header d-flex align-items-center">
        <h6 class="d-inline flex-grow-1 mb-0">Assignments</h6>
        {% if is_owner %}
        <a @click="toggleEditMode" href="#!" class="badge badge-dark badge-pill py-1">
            <span v-if="!editMode"><i class="fas fa-pen mr-1"></i>Edit</span>
        </a>
        <a @click="saveChanges" href="#!" class="badge badge-success badge-pill py-1" v-cloak>
            <span v-if="editMode">Done</span>
        </a>
        {% endif %}
    </div>
    <div class="list-group list-group-flush" id="assignmentList">
        {% for assignment_data in assignments %}
        {% with assignment=assignment_data.assignment solved_count=assignment_data.solved_count %}
        {% with task_count=assignment_data.task_count tasks=assignment_data.tasks %}
        {% with idx=forloop.counter0 %}
        <a class="list-group-item list-group-item-action" data-id="{{ idx }}"
           href="{% url 'group-sheet-detail' group_id=group.group_id sheet_id=assignment.sheet.sheet_id %}">
            <div class="my-0">
                <div class="d-flex align-items-center">
                    <span v-cloak v-show="editMode" class="mr-2 move-assignment">
                        <i class="fas fa-arrows-alt text-secondary" ></i>
                    </span>
                    <div class="flex-grow-1">
                        <strong class="d-inline-block">{{ assignment.sheet.title }}</strong>
                        {% if assignment.is_future %}
                        <span class="badge badge-info ml-1">Future</span>
                        {% endif %}
                    </div>
                    <div class="text-muted small">
                        {{ assignment.assigned_on|naturaltime }}
                    </div>
                </div>
                {% if not is_user_member %}
                <div class="mt-2 badge badge-info">
                    {{ task_count }} task{{ task_count|pluralize }}
                </div>
                {% else %}
                <div class="mt-1">
                {% for task in tasks %}
                    {% if task.submission.verdict == 'AC' %}
                    <span class="badge badge-success"><i class="fas fa-fw fa-check"></i></span>
                    {% elif task.submission %}
                    <span class="badge badge-danger"><i class="fas fa-fw fa-times"></i></span>
                    {% else %}
                    <span class="badge badge-secondary badge-outline" style="opacity: 20%">
                        <i class="fas fa-fw fa-question"></i>
                    </span>
                    {% endif %}
                {% endfor %}
                </div>
                <span class="text-muted badge">
                    {{ solved_count }}/{{ task_count }} solved
                </span>
                {% endif %}
            </div>
        </a>
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
    </div>
    <span class="card-footer text-muted small">{{ sheet_count }} sheet{{ sheet_count|pluralize }}</span>
</div>
{% endwith %}

<script>
var sortable;

$('document').ready(function(){
    sortable = new Sortable(assignmentList, {
        animation: 150,
        // ghostClass: 'blue-background-class',
        handle: ".move-assignment",
    });
});

new Vue({
  delimiters: ["[[", "]]"],
  el: "#groupAssignmentPanel",
  data: {
    hoverIndex: null,
    editMode: false,
  },
  methods: {
    toggleEditMode: function() { this.editMode = !this.editMode; },
    saveChanges: function() {
        var ordering = sortable.toArray();
        $.post({
            url: "{% url 'group-assignment-reorder' group_id=group.group_id %}",
            data: {
                'csrfmiddlewaretoken': "{{ csrf_token }}",
                'ordering': JSON.stringify(ordering),
            },
        });
        this.toggleEditMode();
    },
  }
});
</script>