{% with member_count=members|length %}
<div class="card mb-5">
    <h6 class="card-header">
        Members
        {% if is_owner %}
        {% endif %}
    </h6>

    <div class="list-group list-group-flush">
        {% for member_data in members %}
        <div class="list-group-item">
            <div class="d-flex align-items-center">
                {% include "accounts/thumbnail_profile.html" with user=member_data.member.user hide_username=True %}
                <a href="{% url 'profile' username=member_data.member.username %}" class="ml-2 no-underline">
                    <strong>{{ member_data.member.get_display_name }}</strong>
                    <span class="small text-muted ml-1">@{{ member_data.member.username }}</span>
                </a>
                {% if member_data.role == 'owner' %}
                <span class="badge badge-warning badge-pill ml-2 p-1"
                    data-toggle="tooltip" data-placement="top" title="Owner">
                    <i class="fas fa-xs fa-crown"></i>
                </span>
                {% endif %}
                <span class="flex-grow-1"></span>
                {% if is_owner %}
                    {% if member_data.role == 'member' %}
                    <form class="d-inline-block" method="post"
                          action="{% url 'group-member-role-change' group_id=group.group_id %}">
                        {% csrf_token %}
                        <input type="hidden" value="{{ member_data.member.username }}" name="username" />
                        <input type="hidden" value="owner" name="role" />
                        <button class="btn btn-light btn-sm align-middle" type="submit">
                            <i class="text-warning fas fa-crown"></i>
                        </button>
                    </form>
                    {% else %}
                    <form class="d-inline-block" method="post"
                          action="{% url 'group-member-role-change' group_id=group.group_id %}">
                        {% csrf_token %}
                        <input type="hidden" value="{{ member_data.member.username }}" name="username" />
                        <input type="hidden" value="member" name="role" />
                        <button class="btn btn-warning active btn-sm align-middle" aria-pressed="true" type="submit">
                            <i class="fas fa-crown"></i>
                        </button>
                    </form>
                    {% endif %}
                <form class="d-inline-block ml-2"
                      method="post" action="{% url 'group-member-delete' group_id=group.group_id %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ member_data.member.username }}" name="member_username" />
                    <button class="btn btn-danger btn-sm align-middle" type="submit">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
                {% endif %}
            </div>
            {% if max_score %}
            <div>
            {% for score_data in member_data.scores %}
            {% with submission=score_data.submission %}
                <a href="#!" tabindex="0" data-toggle="popover"
                     data-trigger="focus" data-html="true" data-placement="top"
                     title="Submission <a href='{{ submission.get_url }}'>#{{ submission.submission_id }}</a>"
                     data-content="Submitted on: {{ submission.submitted_on|date:'M d, Y H:m'}}
                        <br/> Verdict: {{ submission.get_verdict_display }}"
                     class="badge {% if score_data.bonus %}badge-success{% else %}badge-info{% endif %} mr-2">
                    {{ score_data.submission.task.name_or_id }}
                </a>
            {% endwith %}
            {% endfor %}
            <span class="mr-2 text-muted small">{{ member_data.scores|length }}/{{ max_score }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <span class="card-footer text-muted small">{{ member_count }} member{{ member_count|pluralize }}</span>
</div>
{% endwith %}
