{% extends "layout.html" %}
{% load bootstrap4 %}

{% block title_tag %}Sign up{% endblock %}

{% block body_content %}
<div class="container">
    <h2>Sign up</h2>
    <hr>
    <div class="panel">
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="Sign up" class="btn btn-primary btn-block"/>
            </form>
        </div>
    </div>
    <div class="alert alert-success mt-5" role="alert">
        <strong>Already have an account?</strong>
        <a href="{% url 'login' %}">Log in</a>
    </div>
</div>
{% endblock %}
