<div class="card mb-3" id="profile-handles-panel">
    <div class="card-header d-flex align-items-center">
        <h6 class="d-inline flex-grow-1 mb-0">Accounts</h6>
        {% if is_owner %}
        <a v-show="editMode" class="badge badge-secondary mx-2"
           data-toggle="modal" href="#modal"
           onclick="loadModalForm('{% url 'handle-create' %}');">
            <i class="fa fa-plus mr-1"></i>Add
        </a>
        <a @click="toggleEditMode" href="#!" class="badge badge-dark badge-pill py-1">
            <span v-if="!editMode"><i class="fas fa-pen mr-1"></i>Edit</span>
        </a>
        <a @click="toggleEditMode" href="#!" class="badge badge-success badge-pill py-1">
            <span v-if="editMode">Done</span>
        </a>
        {% endif %}
    </div>
    {% if profile.handles.exists %}
    <div class="list-group list-group-flush">
        {% for handle in profile.handles.all %}
        <div class="list-group-item p-2 d-flex align-items-center">
            <span class="border border-light rounded">
            {% with handle.judge as judge %}
            {% include 'accounts/judge_label.html' %}
            {% endwith %}
            </span>

            <a href="{{ handle.get_url }}" class="ml-3 small text-monospace flex-grow-1">
                {{ handle.handle }}
            </a>
            {% if is_owner %}
            <form v-show="editMode"
                  method="post" action="{% url 'delete-handle' handle_id=handle.id %}">
                {% csrf_token %}
                <button class="btn submit-btn btn-danger btn-sm btn-xs-adjust">
                    <strong>Remove</strong>
                </button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="card-body small text-muted">No accounts have been linked yet.</div>
    {% endif %}
</div>

<script>
new Vue({
  delimiters: ["[[", "]]"],
  el: "#profile-handles-panel",
  data: {
    editMode: false,
  },
  methods: {
    toggleEditMode: function() { this.editMode = !this.editMode; }
  }
});
</script>