<div style="overflow: auto; direction: rtl;" class="p-2">
    <div style="height: 200px; width: 2000px">
        <canvas id="profileActivityPanel" height="200" width="2000"></canvas>
    </div>
</div>
<div class="mx-auto mb-3 d-flex align-items-center">
    <i class="fas fa-circle text-success mr-1"></i>
    <span class="text-muted">Accepted submissions</span>
    <span class="mx-2"></span>
    <i class="fas fa-circle mr-1" style="color: #F0F0F0"></i>
    <span class="text-muted">All submissions</span>
</div>

<script>
Chart.defaults.global.defaultFontFamily = '"Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
Chart.defaults.global.defaultFontColor = '#999';

new Chart(profileActivityPanel.getContext('2d'), {
    type: 'line',
    data: {
        labels: {{ activity.timestamps|safe }},
        datasets: [
        {
            label: 'Accepted submissions',
            data: {{ activity.ac_submission_count|safe }},
            borderWidth: 2,
            borderColor: "rgba(40, 182, 44, 1.0)",
            backgroundColor: "rgba(40, 182, 44, 0.4)",
        },
        {
            label: 'Total submissions',
            data: {{ activity.total_submission_count|safe }},
            borderWidth: 1,
            borderColor: "rgba(240, 240, 240, 1.0)",
            backgroundColor: "rgba(240, 240, 240, 0.4)",
        }]
    },
    options: {
        tooltips: {
            mode: 'x'
        },
        elements: {
            line: {
                tension: 0 // disables bezier curves
            }
        },
        animation: {
            duration: 0 // general animation time
        },
        legend: { display: false },
        scales: {
            xAxes: [{
                gridLines: {
                    display: false,
                },
            }],
            yAxes: [{
                gridLines: {
                    display: false,
                    drawBorder: false,
                },
                ticks: { display: false },
            }],
        },
    }
});
</script>