<div class="card mx-auto mb-3" style="max-width: 24rem;">
    <img class="card-img-top" src="{{ profile.avatar_url_or_default }}" alt="{{ profile.username }}">
    <div class="card-body">
        <h5 class="card-title">{{ profile.get_display_name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">@{{ profile.username }}</h6>
        <p>Joined on: {{ profile.created_at|date:"M d, Y"}}</p>
        {% if profile.user == user %}
        <a class="btn btn-secondary"
           data-toggle="modal" href="#modal"
           onclick="loadModalForm('{% url 'profile-update' username=profile.username %}');">
            Update profile
        </a>
        {% endif %}
    </div>
</div>