<div class="card mb-3" id="profile-activity-panel">
    <h6 class="card-header">Activity</h6>
    <div style="overflow: auto; direction: rtl">
        <template>
          <la-cartesian :width="2000" :height="200" :data="values">
            <la-area dot prop="total_submission_count" label="All submissions"></la-area>
            <la-area dot prop="ac_submission_count" label="Accepted submissions"></la-area>
            <la-x-axis prop="name" font-size="11"></la-x-axis>
          </la-cartesian>
        </template>
    </div>
    <div class="mx-auto mb-3">
        <template>
          <la-cartesian :data="values" :height="0">
            <la-area v-show="false" dot prop="total_submission_count" label="All submissions"></la-area>
            <la-area v-show="false" dot prop="ac_submission_count" label="Accepted submissions"></la-area>
            <la-legend></la-legend>
          </la-cartesian>
        </template>
    </div>
</div>

<script>
Vue.use(Laue);
new Vue({
  el: "#profile-activity-panel",
  components: {
    LaCartesian: Laue.Cartesian,
    LaLine: Laue.Line
  },

  data: () => ({
    values: {{ activity|safe }}
  })
});
</script>