{% load bootstrap4 %}
{% load static from staticfiles %}
{% load humanize %}

<div class="modal-content px-3">
    <div class="modal-body">
        <h1 class="d-inline-block">
            {{ task.name_or_id }}
        </h1>
        <h5 style="height: 40px" class="py-1">
            <a href="{{ task.judge.homepage }}">
                <img class="img-fluid" style="max-height: 100%"
                 src="{% static task.judge.get_banner_url %}"
                 alt="{{ task.judge.judge_id }}">
            </a>
        </h5>
        <h5>
            {% if task.statistics %}
            <span class="badge badge-pill badge-info"><i class="far fa-dot-circle mr-1"></i>{{ task.statistics.difficulty_score }} points</span>
            <span class="text-light mx-2">|</span>
            {% endif %}
        {% if best_submission_for_user %}
            <span class="small text-muted">Verdict:</span>
            {% if best_submission_for_user.verdict == 'AC' %}
            <span class="badge badge-success ml-1">
                <i class="fa fa-check mr-1"></i>{{ best_submission_for_user.get_verdict_display }}
            </span>
            {% else %}
            <span class="badge badge-danger ml-1">
                <i class="fa fa-times mr-1"></i>
                {{ best_submission_for_user.get_verdict_display }}
            </span>
            {% endif %}
            <span class="small">
                (<a href="{{ best_submission_for_user.get_url }}">#{{ best_submission_for_user.submission_id }}</a>)
            </span>
        {% else %}
            <span class="small text-muted">Not tried yet</span>
        {% endif %}
        </h5>
    </div>
    <div class="modal-footer">
        <a href="{{ task.get_url }}" class="btn btn-primary mt-3 mr-2" target="_blank">
            <i class="fas fa-external-link-alt mr-1"></i> Go to task
        </a>
        <a href="{% url 'task-detail' task_id=task.task_id judge_id=task.judge.judge_id %}" class="btn btn-secondary mt-3 mr-2">
            See details
        </a>
        <form class="form-inline d-inline" method="post"
              action="{% url 'task-favorite' judge_id=task.judge.judge_id task_id=task.task_id %}">
            {% csrf_token %}
            {% if is_favorited %}
            <button class="btn submit-btn btn-warning active mt-3" aria-pressed="true">
                <i class="fa fa-star mr-1"></i>
                Favourited
            </button>
            {% else %}
            <button class="btn submit-btn btn-secondary mt-3">
                <i class="fa fa-star mr-1"></i>
                Add to favourites
            </button>
            {% endif %}
        </form>
    </div>
</div>
